# Copy this file
# Rename it to app_keys.rb
# Update API credentials

ENV['TWITTER_CONSUMER_KEY'] = '???'
ENV['TWITTER_CONSUMER_SECRET'] = '???'
ENV["EMAIL_USER_NAME"] = '???'
ENV["EMAIL_PASSWORD"] = '???'
ENV['AWS_ACCESS_KEY_ID'] = '???'
ENV['AWS_SECRET_ACCESS_KEY'] = '???'